name: test
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Node
      uses: actions/setup-node@v6
      with:
        node-version: '24.x'
        cache: 'npm'

    - name: Install npm dependencies
      run: npm ci

    - name: Build site
      run: npm run build

    - name: Test site
      run: npm test
